@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bgVid {
  @apply translate-y-5;
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
} */

/* BOILERPLATE CUSTOM SCROLL BAR CODE */
::-webkit-scrollbar {
   width: 2px;
   height: 2px;
}
/* Track */
::-webkit-scrollbar-track {
   /* box-shadow: inset 0 0 5px grey; */
   background: transparent;
   border-radius: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
   background: red;
   border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: darkorange;
}

.bg_utube {
   -ms-transform: translateY(20px);
   -webkit-transform: translateY(20px);
   transform: translateY(20px);
}

@media (min-width: 640px) {
   .bg_utube {
      margin-top: -10px;
      -webkit-user-select: none;
      user-select: none;
      width: 100%;
      height: 100%;
      -ms-transform: translateY(-40px);
      -webkit-transform: translateY(-40px);
      transform: translateY(-40px);
   }
}

@media (min-width: 768px) {
   .bg_utube {
      -webkit-user-select: none;
      user-select: none;
      width: 100%;
      height: 100%;
      -ms-transform: translateY(-80px);
      -webkit-transform: translateY(-80px);
      transform: translateY(-80px);
   }
}
